$main-color : #1479ff;
$main-color-opacity : rgba(20, 121, 255, 0.04);

$basic-color : #193b68;
$basic-color-opacity : rgba(25, 59, 104, 0.04);

$white : #fff;

$accents-color-1 : #14d2ff;
$accents-color-2 : #14a5ff;
$accents-color-3 : #14ebff;


