.theme-dark {

  .main-bg {
    background-color: #121212 !important;
  }

  .card-bg, .sidebar-bg, .surface-bg {
    background-color: #212121 !important;
  }

  .main-ft{
    color: #fff !important;
  }

  .main-ft:hover {
    color: #BB86FC !important;
  }

  .theme-icon {
    background-color: #fff;
    border-radius: 100em;
  }

  .modal-header {
    background-color: #f00;
  }

  .primary-bg {
    background-color: #BB86FC;
  }

  .title-ft {
    color: #FFFFFF;
  }

  .card-body {
    text{
      fill: #FFFFFF !important;
    }
  }

  .table-hd-bg {
    background: #343a40;
  }


  //
  //.primary-variant-bg {
  //  background-color: #3700B3;
  //}
  //
  //.primary-secondary-bg {
  //  background-color: #03DAC6;
  //}
  //
  //.error-bg {
  //  background-color: #CF6679;
  //}
  //
  //.on-primary-bg {
  //  background-color: #000000;
  //}
  //
  //.on-secondary {
  //  background-color: #000000;
  //}
  //
  //.on-background {
  //  background-color: #FFFFFF;
  //}
  //
  //on-surface {
  //  background-color: #FFFFFF;
  //}
  //
  //on-error {
  //  background-color: #000000;
  //}


}

