.theme-primary {

  .main-bg {
    background-color: #eeeeee;
  }

  .card-bg{
    background-color: #FFFFFF;
  }

  .sidebar-bg {
    background-color: #FFFFFF;
  }

  .surface-bg {
    background-color: #1976d2;
  }

  .main-ft {
    color: #424242 !important;
  }

  .main-ft:hover {
    color: #000000 !important;
  }

  .theme-icon {
    background-color: #121212;
    border-radius: 100em;
  }

  .title-ft {
    color: #FFFFFF;
  }

  .card-body {

    g {
      text {
        fill: #424242 !important;
      }
    }
  }

  .table-hd-bg {
    background: #fbfcfc;
  }

}
