
/* table css */
.min-hg {
  min-height: 440px;

  th {
    text-align: center;
  }

  td {
    padding: 6em;
    //line-height: 1em;
    &:first-child {
      text-align: center;
    }
  }
}

.pagination-wrap {
  float: right;
}

.pagination-sm-title {
  font-size: 0.8rem !important;
  color: #424242;
}

.loading-wrap {
  width: 100%;
  height: 25rem;
  line-height: 25rem;
  text-align: center;
}

// Header fix
.tableFixHead {
  overflow-y: auto;
  height: 45vh;
  //background-color: #f00;
}

.tableFixHead thead th {
  position: sticky;
  top: 0;
}

/* Just common table stuff. Really. */
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px 16px;
}

